body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-dark-gray);
  padding: 15em 0;
}

:root {
  --color-dark-gray: #2d2e36;
  --color-gray: #383a45;
  --color-light-gray: #8d91a6;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 5rem;
}

p {
  color: var(--color-light-gray);
  font-weight: 400;
  font-size: 2rem;
}

.container {
  background-color: var(--color-gray);
  border-radius: 8px;
  width: 85%;
  margin: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.item1 {
  border-radius: 8px;
}

.item2 {
  width: 100%;
  height: auto;
}

.btn {
  width: 5%;
  height: auto;
}

@media (min-width: 900px) and (orientation: landscape){
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
  .container {
    width: 50%;
    padding: 1.5em;
    flex-direction: row;
    justify-content: space-between;
  }

  .item1 {
    width: 37%;
  }

  .item2 {
    width: 60%;
  }
}